* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
}

@media (width > 680px) {
  header {
    .mobile-menu {
      display: none;
    }
    .desktop-menu,
    a {
      display: flex;
      gap: 1rem;
      font-weight: bold;
      text-decoration: none;
      color: #000000;
    }
    .banner {
      justify-content: flex-end;
    }
  }
  main {
    .desktop-mode {
      flex-direction: row;
      align-items: flex-end;
      flex-wrap: wrap;
      justify-content: center;
    }

    .desktop-image {
      gap: 1rem;
      display: inline;
    }
  }
}

header.banner {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 3px 3px 2px #ececec;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  gap: 1rem;
}
.title {
  color: #ed6436;
  font-weight: bold;
}
.p2 {
  font-size: 3rem;
  font-weight: 800;
}
.view-all {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  background-color: #ed6436;
  border-radius: 0 25px 25px 25px;
}
.image {
  max-width: 60vh;
  border-radius: 25px;
}
.desktop-menu {
  display: none;
}
